{% extends 'eFile/base.html' %}

{% block title %}Edit Matter{% endblock %}

{% block content %}
    <h2 class="mb-4">Edit Matter</h2>
    <form method="post" action="{% url 'matter_edit' pk=matter.pk %}" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-3">Save Changes</button>
    </form>
    <a class="btn btn-secondary mt-3" href="{% url 'matter_list' %}">Back to List</a>
{% endblock %}
