<!-- received_list.html -->
{% extends 'eFile/base.html' %}

{% block title %}Received List{% endblock %}

{% block content %}
    <h2 class="mb-4">Received List</h2>
    <ul class="list-group">
        {% for received_item in received_items %}
            <li class="list-group-item">
                {{ received_item }} 
                <a class="btn btn-warning btn-sm float-right" href="{% url 'received_edit' pk=received_item.pk %}">Edit</a>
                <!-- Add a link to the delete view if needed -->
                <a class="btn btn-danger btn-sm float-right" href="{% url 'received_delete' pk=received_item.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
