{% extends 'base.html' %}

{% block title %}Matter Detail{% endblock %}

{% block content %}
    <h2 class="mb-4">{{ matter.MatterSubject }}</h2>
    <p>{{ matter.MatterDetail }}</p>
    <!-- Add other details as needed -->
    <a class="btn btn-secondary mt-3" href="{% url 'matter_list' %}">Back to List</a>
    <a class="btn btn-warning mt-3" href="{% url 'matter_edit' pk=matter.pk %}">Edit</a>
    <a class="btn btn-danger mt-3" href="{% url 'matter_delete' pk=matter.pk %}">Delete</a>
{% endblock %}
